@font-face {
  font-family: "Odibee";
  src: url(assets/fonts/OdibeeSans-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

* {
  font-family: Odibee;
}

a {
  color: white;
}
